<div class="container">

    <div class="saldo shadow-7 flex justify-content-between flex-wrap">
        <span class="saldo-titulo">Saldo</span>
        <span class="pi pi-money-bill icon-money"></span>
        <span class="block saldo-valor">R$ 157,20</span>
    </div>
    
    <h2>Jogadores Mensalistas</h2>

    <p-table [value]="player">
        <ng-template pTemplate="header">
            <tr>
                <th>Vin</th>
                <th>Year</th>
                <th>Brand</th>
                <th>Color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <td>{{car.id}}</td>
                <td>{{car.name}}</td>
                <td>
                    <span class="pi pi-check-circle iconPG" *ngIf=car.janeiro></span>
                    <span class="pi pi-times-circle iconNPG" *ngIf=!car.janeiro></span>           
                </td>
                <td>
                    <span class="pi pi-check-circle iconPG" *ngIf=car.fevereiro></span>
                    <span class="pi pi-times-circle iconNPG" *ngIf=!car.fevereiro></span>                    
                </td>
            </tr>
        </ng-template>
    </p-table>
    
    <h2>Jogadores Avulso</h2>

    <p-table [columns]="colunas" [value]="avulso" responsiveLayout="scroll">
        <ng-template pTemplate="header" let-colum>
            <tr>
                <th *ngFor="let col of colum">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.value]}}
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>